.titleSection {
    color: var(--brown-compass);
    font-weight: bold;
}

.headerSection {
    padding: 20px;
}

.formSection {
    background-color: var(--warm-sand);
}

.updateProfile {
    border: 1px solid var(--medium-bronze);
}

.deleteSection {
    background-color: var(--warm-sand);
    padding: 1rem 0 1rem 1rem;
    margin-top: 0;
}