.manageBody {
    grid-template-columns: 1fr;
}

@media (min-width: 768px) {
    .manageBody {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1280px) {
    .manageBody {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}