.cardExperience {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color-white);
    //box-shadow: 0 4px 6px rgba(0, 0, 0);
    border: 2px solid var(--medium-bronze);
    border-radius: 8px;
    padding: 16px;
    width: 500px;
    margin: 10px 0;
}

.cardExperience img {
    width: 350px;
    height: auto;
}

.title {
    text-align: center;
}