.cardContainer {
    text-decoration: none;
}

.cardBody {
    padding: 20px;
}

.card {
    width: min(350px, 100%);
    min-height: 420px;
    display: flex;
    flex-direction: column;

    border-radius: 12px;
    overflow: hidden;
    background-color: var(--bg-color-white);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
    margin: 20px;
}

.cardImage {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.textCard {
    margin: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cardTitle {
    color: var(--brown-compass);
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.3;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cardDescription {
    color: var(--blackt-text);
    font-size: 0.875rem;
    line-height: 1.6;
    margin: 0;

    display: -webkit-box;
    // -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cardActions {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.editDeletebtnCard {
    padding: 8px 16px;
    border: 1px solid #a14545;
    border-radius: 4px;
    color: #a14545;
    cursor: pointer;
    font-size: 0.875rem;
    transition: background-color 0.3s ease;
}