:root {
    /* Colors */
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --accent-color: #e74c3c;
    --bg-color-white: #ffffff;
    --text-color: #2c3e50;

    /*Colores principales*/
    /* Para Navbar, footer y titulos*/
    /*Aquest*/
    --warm-sand-darker: #cfbfa4;
    /*Usado para el texto del header*/
    --brown-compass: #6B3A2A;
    /*Para botones y acentos*/
    --red-needle: #C0634A;
    /* Títulos, CTA secundarios y links*/
    --blue-needle: #2D4A6B;
    /* Fondo principal*/
    --ivory-beige: #FAF6EF;
    /* Para bordes y separadores */
    --medium-bronze: #8B7335;

    /*Colores secundarios*/
    /* Higlights, badges, precios*/
    --golden-amber: #F0C27F;
    /* Cards, secciones alternas*/
    --warm-sand: #EDE4D3;
    /*Texto cuerpo*/
    --blackt-text: #1C1C1C;
    --dark-brown: #3D2010;
    /* Texto Secundario */
    --earth-grey: #7A6050;
    /* Éxito, confirmaciones, eco*/
    --traveler-green: #4A7C6F;

    /* Font Families */
    /* Para títulos i navegación*/
    --font-principal: 'Montserrat', sans-serif;
    /* Para cuerpo del texto i descripciones*/
    --font-secundaria: 'Open Sans', sans-serif;

    /* Font Sizes */
    --font-size-xxs: 0.625rem;
    --font-size-xs: 0.75rem;
    --font-size-small: 0.875rem;

    /* Posible uso para texto cuerpo y/o h6*/
    --font-size-medium: 1rem;
    /* Posible uso para títulos h5*/
    --font-size-large: 1.25rem;
    /* Possible uso para títulos h4*/
    --font-size-xl: 1.5rem;
    /* Possible uso para títulos h2*/
    --font-size-xxl: 2rem;

    --font-size-h1: 2.5rem;
    --font-size-h3: 1.75rem;

    /* Spacing */
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;


}

html.dark {
    /* Fons principal*/
    --ivory-beige: #121210;
    --bg-main: #121210;
    --blackt-text: #f4f4f5;
    /* cards*/
    --bg-color-white: #1e1e1b;

    /* Textos principals */
    --blackt-text: #f4f4f5;
    --text-color: #f4f4f5;
    --text-primary: #f4f4f5;
    --brown-compass: #e2b39a;

    /* gris mes clar */
    --earth-grey: #a1a1aa;

    /* ajustos */
    --border-color: #2d2d2a;
    --blue-needle: #60a5fa;
}